In [4]:
# Read the content from the file
f1 = open("aaa.txt","r")
data = f1.read()
print(data)
f1.close()

NTT Data

In [5]:
print(f1)

<_io.TextIOWrapper name='aaa.txt' mode='r' encoding='UTF-8'>

In [6]:
f3 = open ("aaa.txt", "w")
print("File Name: ",f3.name)
print("File Mode: ",f3.mode)
print("File Encoding : ",f3.encoding)
print("Is file closed already?: ",f3.closed)
f3.close()
print("Is file closed now?: ",f3.closed)

File Name:  aaa.txt
File Mode:  w
File Encoding :  UTF-8
Is file closed already?:  False
Is file closed now?:  True

In [7]:
f2 = open("aaa.txt", mode = "r", buffering = 10, encoding='UTF-8' )
if f2:
  print("File opened successfully")
else:
  print("File not opened")

File opened successfully

In [8]:
f3 = open("aaa.txt",'w')
print("file name is :", f3.name)
print("file mode is :", f3.mode)
print("file encoding :", f3.encoding)
print("is file closed already?" , f3.closed)
f3.close()
print("is file closed now?" , f3.closed)

file name is : aaa.txt
file mode is : w
file encoding : UTF-8
is file closed already? False
is file closed now? True

In [9]:
f4 = open("aaa.txt","r")
print("Is file Readable?", f4.readable())
print("Is file Writable?", f4.writable())
f4.close()

Is file Readable? True
Is file Writable? False

In [10]:
f5 = open("aaa.txt","w")
print("Is file Readable?", f5.readable())
print("Is file Writable?", f5.writable())
f5.close()

Is file Readable? False
Is file Writable? True

In [11]:
name = "NTT Data, Bengaluru"
f6 = open("aaa.txt","w+")
f6.write(name)
f6.seek(0)
print(f6.read())
f6.close()

NTT Data, Bengaluru

In [12]:
number = int(input("enter a number"))
f6 = open("aaa.txt","w+")
f6.write(str(number))
f6.seek(0)
print(f6.read())
f6.close()

enter a number5
5

In [13]:
f7 = open("aaa.txt", "r")
data = f7.read()
print(data)
f7.close()

5

In [14]:
f8 = open("aaa.txt", "rb")
data = f8.read()
print(data)
f8.close()

b'5'

In [15]:
f9 = open("aaa.txt", "r")
data1 = f9.read(5)
print(data1)
data2 = f9.read(5)
print(data2)
f9.close()

5

In [16]:
f10 = open("aaa.txt", "r")
data1 = f10.readline()
print(data1)
data2 = f10.readline()
print(data2)
data3 = f10.readline()
print(data3)
f10.close()

5

In [17]:
f10 = open("bbb.txt", "r")
data1 = f10.readline()
print(data1, end='')
data2 = f10.readline()
print(data2, end='')
data3 = f10.readline()
print(data3, end='')
f10.close()

NTT Data Noida (Line 1)
NTT Data Noida (Line 2)
NTT Data Noida (Line 3)

In [18]:
f10 = open("bbb.txt", "r")
#data = f10.read()
#print(data)
data1 = f10.readline(22)
print(data1)
data2 = f10.readline()
print(data2)
data3 = f10.readline()
print(data3)
f10.close()

NTT Data Noida (Line 1
)

NTT Data Noida (Line 2)

In [ ]:
f10 = open("aaa.txt", "r")
#data = f10.read()
#print(data)
data1 = f10.readline(24)
print(data1)
data2 = f10.readline()
print(data2)
data3 = f10.readline()
print(data3)
f10.close()

NTT Data Noida (Line 1)

NTT Data Noida (Line 2)

NTT Data Noida (Line 3)

In [ ]:
f10 = open("bbb.txt", "r")
#data = f10.read()
#print(data)
data1 = f10.readline(23)
print(data1)
data2 = f10.readline()
print(data2)
data3 = f10.readline()
print(data3)
f10.close()

NTT Data Noida (Line 1)


NTT Data Noida (Line 2)

In [ ]:
f11 = open("aaa.txt", "r")
data1 = f11.readlines()
print(data1)

for i in data1:
  print(i)
f11.close()

['NTT Data Noida (Line 1)\n', 'NTT Data Noida (Line 2)\n', 'NTT Data Noida (Line 3)\n']
NTT Data Noida (Line 1)

NTT Data Noida (Line 2)

NTT Data Noida (Line 3)

In [19]:
f11 = open("bbb.txt", "r")
data1 = f11.readlines()
print(data1)
f11.close()

['NTT Data Noida (Line 1)\n', 'NTT Data Noida (Line 2)\n', 'NTT Data Noida (Line 3)']

# Day2_Filehandling Files

In [33]:
f12 = open("bbb.txt", "r")
data1 = f12.readlines()
print('Datatypes & actual data are: ', type(data1),data1)
f12.close()

Datatypes & actual data are:  <class 'list'> ['NTT Data Noida (Line 1)\n', 'NTT Data Noida (Line 2)\n', 'NTT Data Noida (Line 3)']

In [34]:
f12 = open("bbb.txt", "r")
data1 = f12.readlines()
for i in data1:
  print('Datatypes & actual data are: ', type(i),i)
f12.close()

Datatypes & actual data are:  <class 'str'> NTT Data Noida (Line 1)

Datatypes & actual data are:  <class 'str'> NTT Data Noida (Line 2)

Datatypes & actual data are:  <class 'str'> NTT Data Noida (Line 3)

In [37]:
f12 = open("bbb.txt", "r")
print(f12.tell())

data1 = f12.readline(5)
print(data1)
print(f12.tell())

data2 = f12.readline(5)
print(data2)
print(f12.tell())

data3 = f12.readline(5)
print(data3)
print(f12.tell())

f12.close()

0
NTT D
5
ata N
10
oida
15

In [38]:
f12 = open("bbb.txt", "r")
print(f12.tell())

data1 = f12.read(5)
print(data1)
print(f12.tell())

data2 = f12.read(5)
print(data2)
print(f12.tell())

data3 = f12.read(5)
print(data3)
print(f12.tell())

f12.close()

0
NTT D
5
ata N
10
oida
15

In [41]:
f12 = open("bbb.txt", "r")
print(f12.seek(5))
print(f12.tell())

data1 = f12.read(5)
print(data1)
print(f12.tell())

data2 = f12.read(5)
print(data2)
print(f12.tell())

data3 = f12.read(5)
print(data3)
print(f12.tell())

f12.close()

5
5
ata N
10
oida
15
(Line
20

In [43]:
f12 = open("bbb.txt", "r")
print(f12.tell())
print(f12.read(3))
f12.seek(0)
print(f12.read(4))
print(f12.tell())
f12.close()

0
NTT
NTT
4

In [ ]:
f12 = open("bbb.txt", "r")
print(f12.tell())
print(f12.read(3))
f12.seek(0)
print(f12.read(4))
print(f12.tell())
f12.close()

In [76]:
f = open("ccc.txt", "r")
data = f.readlines()

no_of_lines = 0
no_of_words = 0
no_of_characters = 0

for i in data:
  no_of_lines += 1
  no_of_words += len(i.split())
  no_of_characters += len(i)

print('Data in the file is: ',data)
print('No of lines in the file is: ',no_of_lines)
print('No of words in the file is: ',no_of_words)
print('No of characters in the file is: ',no_of_characters)
f.close()

Data in the file is:  ['Nttdata Banglore\n', 'welcome\n', 'hello world\n']
No of lines in the file is:  3
No of words in the file is:  5
No of characters in the file is:  37

In [83]:
f = open("ccc.txt", "w")
f.write('ABCD\nEFGH')
n=f.write('abcd')
print(n)
f.close()
f = open("ccc.txt", "r")
data = f.read()
print(data)
f.close()

4
ABCD
EFGHabcd

In [94]:
f = open("ccc.txt", "w")
f.write('ABCD\nEFGH')
n=f.write('abcd')
print(n)
f.close()
f = open("ccc.txt", "r")
data = f.read()
print(len(data))
print(data)
f.close()

4
13
ABCD
EFGHabcd

In [95]:
f1 = open("ccc.txt", "r")
l = len(f1.read())
f2.close()
f2 = open("ccc.txt", "w")
f2.seek(l+1)
f2.write('ABCD\nEFGH')
n=f2.write('abcd')
print(n)
f2.close()
f3 = open("ccc.txt", "r")
data = f3.read()
print(len(data))
print(data)
f3.close()

4
27
              ABCD
EFGHabcd

In [98]:
#Copying from one file to another
f1 = open("ccc.txt", "r")
data = f1.readlines()
print(data)
f1.close()
f2 = open("ddd.txt", "w")
for i in data:
  f2.write(i)
f2.close()

['ABCD\n', 'EFGHabcd']

In [99]:
#Copying from one file to another
f1 = open("ccc.txt", "r")
data = f1.readlines()
print(data)
f1.close()
#Used x mode to create a new file
f2 = open("eee.txt", "x")
for i in data:
  f2.write(i)
f2.close()

['ABCD\n', 'EFGHabcd']

In [102]:
f1 = open("fff.txt", "x")
f1.write('ABC\nDEF')
f1.close()
f2 = open("ggg.txt", "x")
f2.write('\nGHI\nJKL')
f2.close()
f3 = open("hhh.txt", "x")
f3.write('\nMNO\nPQR')
f3.close()

In [103]:
#Merging multiple text files

mergedata = ""
files = ['fff.txt','ggg.txt','hhh.txt']
for i in files:
  f = open(i,'r')
  mergedata = mergedata + f.read()
  f.close()

f = open('iii.txt','x')
f.write(mergedata)
f.close()

In [114]:
f = open('iii.txt','r+')
data1 = f.read()
print(data1)
f.write('\n')
f.write('XYZ')
print('-------------------------------')
# Reset file pointer to the beginning
f.seek(0)
data2 = f.read()
print(data2)
f.close()

ABC
DEF
GHI
JKL
MNO
PQR
-------------------------------
ABC
DEF
GHI
JKL
MNO
PQR
XYZ

In [115]:
f = open('jjj.txt','x')
f.close()
f = open('jjj.txt','w+')
data1 = f.read()
print(data1)
f.write('\n')
f.write('XYZ')
f.seek(0)
data2 = f.read()
print(data2)
f.close()

XYZ