In [84]:
# Read the content from the file
f1 = open("aaa.txt","r")
data = f1.read()
print(data)
f1.close()

NTT Data

In [76]:
print(f1)

<_io.TextIOWrapper name='aaa.txt' mode='r' encoding='UTF-8'>

In [85]:
f3 = open ("aaa.txt", "w")
print("File Name: ",f3.name)
print("File Mode: ",f3.mode)
print("File Encoding : ",f3.encoding)
print("Is file closed already?: ",f3.closed)
f3.close()
print("Is file closed now?: ",f3.closed)

File Name:  aaa.txt
File Mode:  w
File Encoding :  UTF-8
Is file closed already?:  False
Is file closed now?:  True

In [78]:
f2 = open("aaa.txt", mode = "r", buffering = 10, encoding='UTF-8' )
if f2:
  print("File opened successfully")
else:
  print("File not opened")

File opened successfully

In [79]:
f3 = open("aaa.txt",'w')
print("file name is :", f3.name)
print("file mode is :", f3.mode)
print("file encoding :", f3.encoding)
print("is file closed already?" , f3.closed)
f3.close()
print("is file closed now?" , f3.closed)

file name is : aaa.txt
file mode is : w
file encoding : UTF-8
is file closed already? False
is file closed now? True

In [ ]:
f4 = open("aaa.txt","r")
print("Is file Readable?", f4.readable())
print("Is file Writable?", f4.writable())
f4.close()

Is file Readable? True
Is file Writable? False

In [ ]:
f5 = open("aaa.txt","w")
print("Is file Readable?", f5.readable())
print("Is file Writable?", f5.writable())
f5.close()

Is file Readable? False
Is file Writable? True

In [ ]:
name = "NTT Data, Bengaluru"
f6 = open("aaa.txt","w+")
f6.write(name)
f6.seek(0)
print(f6.read())
f6.close()

NTT Data, Bengaluru

In [ ]:
number = int(input("enter a number"))
f6 = open("aaa.txt","w+")
f6.write(str(number))
f6.seek(0)
print(f6.read())
f6.close()

enter a number100
100

In [ ]:
f7 = open("aaa.txt", "r")
data = f7.read()
print(data)
f7.close()

NTT Data Noida (Line 1)
NTT Data Noida (Line 2)
NTT Data Noida (Line 3)

In [ ]:
f8 = open("aaa.txt", "rb")
data = f8.read()
print(data)
f8.close()

b'NTT Data Noida (Line 1)\r\nNTT Data Noida (Line 2)\r\nNTT Data Noida (Line 3)'

In [ ]:
f9 = open("aaa.txt", "r")
data1 = f9.read(5)
print(data1)
data2 = f9.read(5)
print(data2)
f9.close()

NTT D
ata N

In [ ]:
f10 = open("aaa.txt", "r")
data1 = f10.readline()
print(data1)
data2 = f10.readline()
print(data2)
data3 = f10.readline()
print(data3)
f10.close()

NTT Data Noida (Line 1)

NTT Data Noida (Line 2)

NTT Data Noida (Line 3)

In [ ]:
f10 = open("aaa.txt", "r")
data1 = f10.readline()
print(data1, end='')
data2 = f10.readline()
print(data2, end='')
data3 = f10.readline()
print(data3, end='')
f10.close()

NTT Data Noida (Line 1)
NTT Data Noida (Line 2)
NTT Data Noida (Line 3)

In [ ]:
f10 = open("aaa.txt", "r")
#data = f10.read()
#print(data)
data1 = f10.readline(22)
print(data1)
data2 = f10.readline()
print(data2)
data3 = f10.readline()
print(data3)
f10.close()

NTT Data Noida (Line 1
)

NTT Data Noida (Line 2)

In [ ]:
f10 = open("aaa.txt", "r")
#data = f10.read()
#print(data)
data1 = f10.readline(23)
print(data1)
data2 = f10.readline()
print(data2)
data3 = f10.readline()
print(data3)
f10.close()

NTT Data Noida (Line 1)


NTT Data Noida (Line 2)

In [ ]:
f10 = open("aaa.txt", "r")
#data = f10.read()
#print(data)
data1 = f10.readline(24)
print(data1)
data2 = f10.readline()
print(data2)
data3 = f10.readline()
print(data3)
f10.close()

NTT Data Noida (Line 1)

NTT Data Noida (Line 2)

NTT Data Noida (Line 3)

In [ ]:
f11 = open("aaa.txt", "r")
data1 = f11.readlines()
print(data1)
f11.close()

['NTT Data Noida (Line 1)\n', 'NTT Data Noida (Line 2)\n', 'NTT Data Noida (Line 3)\n']

In [ ]:
f11 = open("aaa.txt", "r")
data1 = f11.readlines()
print(data1)

for i in data1:
  print(i)
f11.close()

['NTT Data Noida (Line 1)\n', 'NTT Data Noida (Line 2)\n', 'NTT Data Noida (Line 3)\n']
NTT Data Noida (Line 1)

NTT Data Noida (Line 2)

NTT Data Noida (Line 3)